.list-header.Noborder{
  background-image:none;
}

.border{
    
    background-image: linear-gradient(0deg,#ccc,#ccc 100%);
    padding: 19px 6px 12px 0;
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: bottom;
    border-bottom: none;
}

.itemSelect .title{
  margin: 4px 0 18px;
}

.leftTitle {
    text-align: left;
    line-height: 44px;
}

.searchInput .search-input,
.searchInput input.text-input
{
  height: 44px;
}

.ion-thumbsup.noVertical{
  vertical-align: 0 !important; 
}

.list-item__icon2 {
    font-size: 22px;
    padding: 6px 6px;
}

.list-item__icon3 {
    line-height: 0 !important; 
    vertical-align: 0 !important; 
    
    background-image: linear-gradient(0deg,#ccc,#ccc 100%);
    padding: 10px 6px 12px 0;
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: bottom;
    border-bottom: none;
}

h1.title {
      padding: 0 1px 5px 12px;
}

.error{
    background-image: linear-gradient(#E23250, #EA2B5A), linear-gradient(to top, transparent 1px, #afafaf 1px);
    background-size: 100% 2px;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-color: transparent;
}

.errorText{
    color:red;
    opacity: 0.4;
    margin: 3px 5px;
  font-size: 13px;
}

input{
  color: #1f1f21;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #ccc;
    /* width: 100%; */
    display: inline-block;
    background: 0 0;
    line-height: 1;
    font-family: -apple-system,'Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #1f1f21;
    font-size: 15px;
    font-weight: 400;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
}

.width-full {
  width: 80%;
}

.titleM{
  margin: 3px 15px;
}

.modal__content {
    
    color: #1f1f21;
    
    background-color: #ececec;
}

.textarea {
    background: #ffffff;
}


input {
  
    border-bottom: 1px solid #000;
  
}